@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.manrope-600 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.manrope-800 {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
:root {
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Ligh-Grayish-Red: hsl(14, 92%, 95%);
  --Ligh-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);

  --White: hsl (0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Ligh-Grayish-Blue: hsl(224, 65%, 95%);
  --Ligh-Grayish-Blue: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}
body {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-content: center;
  align-items: center;
  font-size: 15px;

  background: url("../images/bg-pattern.svg") no-repeat;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.8rem;
}

.card {
  background-color: hsl (0, 0%, 100%);

  padding-block: 2.2rem;
  /* background-color: white; */
}
.pageviews {
  color: var(--Dark-Desaturated-Blue);
  font-size: 0.78rem;
  letter-spacing: 0.09rem;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: url("../images/pattern-circles.svg") no-repeat center;

  gap: 0.5rem;
  padding-block: 2rem;
}

.heading > h1 {
  font-size: 1.28rem;
}

.heading > p {
  color: var(--Grayish-Blue);
  font-size: 0.82rem;
  width: 22ch;
  line-height: 1.8;
}

.slider-container {
  display: flex;
  flex-direction: column;
}

.toggle-container {
  display: flex;
}
